{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div id="loading">
        <img src="{% static 'mainimage/loading.gif' %}" alt="loading">
    </div>
    <div class="mw-600 m-auto">
        <div class="text-center m-5">
            <h2>만화, 웹툰 영상화</h2>
        </div>
        <div>
            <a href="{% static 'sample image.zip' %}"
               class="btn btn-success rounded-pill px-5" download="zip">
                샘플 이미지 다운로드
            </a>
            <form action="{% url 'animateapp:create' %}"
                  enctype="multipart/form-data"
                  method="post" id="next">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal'%}
                <div class="text-center">
                    <p>* 이미지이름 순서대로 영상이 제작됩니다.</p>
                    <p>* 이미지를 10장 까지만 넣어주세요.</p>
                    <p>* 같은 사이즈의 흑백 이미지만 넣어주세요</p>
                </div>
                <div class="text-center" id="list">
                </div>
                <div class="text-center m-5">
                    <input type="submit" class="btn btn-dark rounded-pill px-5">
                </div>

            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#loading').hide();
            $('#next').submit(function(){
                var fileCheck = document.getElementById("files").value;
                if(!fileCheck){
                    alert("파일을 첨부해 주세요");
                    return false;
                }
                $('#loading').show();
                return true;
            });

        });

        function handleFileSelect(evt) {
            const files = evt.target.files;
            $('#list').empty()
            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

               // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                const reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function(theFile) {
                    return function(e) {
                        // Render thumbnail.
                        const span = document.createElement('span');
                        span.innerHTML =
                        [
                            '<img style="width: 100px; border: 1px solid #000;" src="',
                            e.target.result,
                            '" title="', escape(theFile.name),
                            '"/>',
                        ].join('');
                    document.getElementById('list').insertBefore(span, null);
                    };
                })(f);
              // Read in the image file as a data URL.
              reader.readAsDataURL(f);
            }
        }
        document.getElementById('files').addEventListener('change', handleFileSelect, false);

    </script>


{% endblock %}