{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <div id="loading">
        <img src="{% static 'mainimage/loading.gif' %}" alt="loading">
    </div>
    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h2>만화, 웹툰 영상화</h2>
        </div>
        <div>
            <form action="{% url 'animateapp:create' %}"
                  enctype="multipart/form-data"
                  method="post" id="next">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal'%}
                <p>* 이미지이름 순서대로 영상이 제작됩니다.</p>
                <p>* 이미지이름을 순서에 맞춰 숫자로 기록해주세요.</p>
                <div class="m-5">
                    <input type="submit" class="btn btn-dark rounded-pill px-5">
                </div>

            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#loading').hide();
            $('#next').submit(function(){
                $('#loading').show();
                return true;
            });
        });
    </script>


{% endblock %}