{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container text-center">
        <div class="my-5">
            <!-- 영상보여주는 부분 -->
            <video id="vid" width="450"  controls autoplay muted playsinline>
                <source src="{{ target_animate.ani.url }}" type="video/mp4">
                <object data="{{ target_animate.ani.url }}" width="320" height="240">
                <embed src="{{ target_animate.ani.url }}" width="320" height="240">
                </object>
            </video>
        </div>
        <div class="my-5">
            <!-- 영상 다운로드 -->
            <a href="{{ target_animate.ani.url }}"
               class="btn btn-success rounded-pill px-5" download="video">
                다운로드
            </a>
            <!-- 처음 화면으로 -->
            <a href="{% url 'animateapp:create' %}"
               class="btn btn-success rounded-pill px-5">
                처음으로
            </a>

        </div>

    </div>
    <script> document.getElementById('vid').play(); </script>



{% endblock %}