.mw-500{
    max-width: 500px;
    margin: 1rem 1.5rem;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.8;
	background: #e8e8e8;
	z-index: 99;
	text-align: center;
}

#loading > img {
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 100;
	width: 10%;
}